/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

@media (min-width: 768px) {

    /* Menu *
    .menu__list {
        display: none;
    }

    .menu__list__item__contato {
        display: block;
    }

    /*title*
    section.title {
        height: auto;
    }

    /*Skills*/

    /*Hobbies*/

    /*Experiências acadêmicas*/

    /*Expeirência profissional*/

}

/*Mobile*
@media (min-width: 425px) {

    /*Menu*
    section.menu{
        margin: 0;
        justify-content: space-around;
    }
    .menu__list {
        display: none;
    }

    .menu__list__item__contato {
        display: block;
    }

    /*Titulo*/

    /*Sessão sobre*/

    /*Skills*/

    /*Hobbies*/

    /*Formação Acadêmica*/

    /*Experiência Profissional*/

    /*Contato*/

    /*Footer*

}

@media (min-width: 1200px) {

    /*Menu*
    .menu__list {
        display: flex;
    }

    .menu__list__item__contato {
        display: none;
    }
}

/*

    
 .menu__list{
    display: none; 
}
}