/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root {
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
    --cor-de-fundo: #e6fcf6;
    --cor-destaque: #3bb9bc;
    --cor-branco: #ffffff;
    --cor-fonte: #494457    ;
    --cor-de-borda:#2da3a5;
    --fonte-principal: 'Raleway'sans-serif;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    margin: 0;
    padding: 0;
    line-height: 1;
}

ol, ul, li {
    list-style: none;    
}

a {
    text-decoration: none;
    color: var(--cor-fonte);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso sintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/
header {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;

}
div.all{
    box-sizing: border-box;
}
section.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;
}


.menu__list {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    font-size: 1rem;
}
.menu__list__item:last-child {   
    font-weight: 700;
}
.menu__list__item__contato {
    display: none;
}
/*Sessão Title*/

section.title {
    height: 368px;
    margin: 32px 0px;
}

.title__div {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 12px 12px;
    margin: 0px 152px;
}

.title__profile {
    overflow: clip;
    border-radius: 50%;
}

.title__bio {
    font-family: var(--fonte-principal);
    font-size: 3.25rem;
    margin: 24px 0px;
    font-weight: 700;
}

.title__subsection {
    font-family: var(--fonte-principal);
    font-size: 1.37rem;
    font-weight: normal;
}

.title__network {
    display: flex;
    justify-content: left;
    gap: 32px;
    padding: 0px;
    font-size: 1rem;
    margin: 16px 0px;
}

/*Sessão About*/

section.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--cor-destaque);
}

.about__container {
    margin: 0px 150px;
    padding: 64px 0px;
}

.about__title {
    font-size: 2rem;
}

.about__paragraph {
    font-size: 1.25rem;
    font-weight: normal;
}

/*Sessão Skills*/
section.skills {
    margin: 32px 152px;
}

.skills__title {
    text-align: center;
    font-size: 2rem;
}

.skills__line {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    gap:32px;
}

.skills__box {
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    padding: 16px;
    margin: 2%;
    width: 130px;
    height: 150px;
    background-color: var(--cor-branco);
    border-radius: 20px;
    box-sizing:content-box;
    font-size: 20px;
    box-shadow: 5px 3px 10px var(--cor-de-borda);
}
.skills__box ul {
    margin: 0;
    padding: 0;
}

.skills__img {
    margin-bottom: 18px;
}
/*Sessão Hobbies*/

section.hobbies {
    margin: 32px 152px;
}
.hobbies__title{
    text-align: center;
    font-size: 2rem;
}
.hobbies__line{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.hobbies__box{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 16px;
    margin: 40px 0px;
    width: 130px;
    height: 150px;
    background-color: var(--cor-branco);
    border-radius: 20px;
    box-sizing:content-box;
    font-size: 20px;
    box-shadow: 5px 3px 10px;
}
.hobbies__box ul{
    margin: 0;
    padding: 0;
}
.hobbies__img{
    margin-bottom: 18px;
}

/* Experiência Acadêmica*/

section.academic {       
    background: var(--cor-destaque);    
    padding: 64px 0px;
}
.academic__title{
    text-align: center;
    font-size: 2rem;
    margin: 32px 0px;
}
.academic__courses{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    gap:32px;
    margin: 0px 152px;
}
.academic__courses__box{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 16px;
}

.academic__courses__box ul{
    margin: 0;
    padding: 0;
}
.academic__courses__list{
    text-align: center;
}
.academic__courses__list h4{
    font-size: 1.38rem;
}
.academic__courses__list p{
    font-size: 1.2rem;
}
.academic__courses__item__img{
    box-shadow: 2px 2px 4px;
}

/* Projetos*/

section.experience {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    gap:50px
}
.experience__section__title{
    text-align: center;
    font-size: 2rem;
    margin: 32px 0px
}
.experiencie__box{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 1110px;
    height: 460px;
}
.experience__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 32px;
    line-height: 0;
}

.experience__title{
    font-size: 26px;
}
.experience__text{
    font-size: 18px;
    font-weight: normal;
}
.experience__img{
    margin-bottom: 16px;
    overflow: clip;
    width: 700px;
    box-shadow: 2px 2px 4px;
}
.experience__description{
    display: flex;
    gap:16px;
}
.experiencia__botao--repo{    
    width: 130px;
    height: 51px;
    border-radius: 10px;
    font-size: 19px;
    padding: 21,5px 0;
    text-decoration: none;
    font-family: var(--fonte-principal);
    box-shadow: 2px 2px 4px;
}
.experiencia__botao--demo{    
    width: 130px;
    height: 51px;
    border-radius: 10px;
    font-size: 19px;
    padding: 21,5px 0;
    text-decoration: none;
    font-family: var(--fonte-principal);
    box-shadow: 2px 2px 4px;
}
.experiencie__box:nth-child(3){
    flex-direction: row-reverse;
}

/*Contato*/

section.formcontato {
    background: var(--cor-destaque);    
    padding: 32px 0;
}
.formcontato__title{
    font-size: 32px;
    text-align: center;
}
.formcontato__contacto{
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 2px 32px;
}
.formcontato__img{
    border-radius: 28px;
    height: 520px;    
}
.formcontato__text{
    margin-left: 16px;
}
.formcontato__subtext {    
    font-size: 20px;    
    margin-top: 5;
}
.formcontato__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:stretch;
    height: 400px;
}
.formcontato__input {
    height: 40px;
    border-radius: 8px;
    border-style: none;
    font-size: 15px;
    font-family: var(--fonte-principal);
}
.formcontato__textarea {
    height: 133px;
    border-radius: 6px var(--cor-de-borda);
    border-style: none;
    font-size: 15px;
    font-family: var(--fonte-principal);
}
.formcontato__botao {
    width: 165px;
    height: 51px;
    padding: 10px;
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-link);
    border-radius: 8px;
    font-size: 16px;  
    box-shadow: 2px 2px 4px;  
}

/*footeer*/

section.footer {
    display: flex;
    justify-content: space-around;
}
section.footer p {
    text-align: center;
    line-height: 0;
    font-size: 16px;
}